@import"reset.css";
@import"uppermenu.css";
@import"titlebox.css";
@import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');



body{
    background-color:white;
    padding:10px 20px;
    color:#020202;
    font-family: 'Stylish', sans-serif;
}
   