.bigtitlebox{
    width: 300px;
    height: 50px;
    display: flex;
    border-radius: 40px;
    background-color: #D3D3D3;
    font-family: 'Stylish', sans-serif;
    padding: 20px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;




}

.explainbox{
    border-radius: 40px;
    background-color: rgba(211, 211, 211, 0.692);
    padding: 20px;
    text-align: left;

}

.medititlebox{
    border-radius: 40px;
    border: solid 6px rgba(211, 211, 211, 0.692);
    padding: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;


}